[submodule "src/raylib-zig"]
	path = src/raylib-zig
	url = https://github.com/Not-Nik/raylib-zig.git
[submodule "src/emscripten"]
	path = src/emscripten
	url = https://github.com/emscripten-core/emsdk.git
[submodule "src/raygui"]
	path = src/raygui
	url = https://github.com/ryupold/raygui.zig
