/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
	font-family: "Hyperspace"; 
	src: url("/HyperspaceBold.ttf"); 
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

html {
	background-color: theme(colors.blue-mid);
	background-repeat: repeat;
	overflow: hidden;
}

* {
	@apply text-yellow-mid;
}