/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: theme(colors.blue-dark);
    background-repeat: repeat;
    overflow: hidden;
}

* {
  @apply text-yellow-light;
}
